body {
  background-color: #9a1212
}
.turn {
  text-align: center;
}
div {
  text-align: center;

}
button {
  width: 100px;
  height: 100px;
  background-color: #9a1212;
  border-color: #ffffff;
  font-size: 50px
}
.big {
  width: 30%;
  height: 80px;
  }
p {
  font-size: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
}
.white {
    background-color: #ffffff;
}
h1 {
  font-size: 120px;
  background-color: #ffffff;
}
