<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/style/minif-default.css">
  </head>
  <body>
    <div class="content min_width_600">

      <h1 class="title" id="minifgithubio">minif.github.io</h1>

      <nav>
        <a class="nav_link" href="/index.html">Home</a>
        <a class="nav_link" href="/contact.html">Contact</a>
        <a class="nav_link" href="/blog.html">Blog</a>
        <a class="nav_link" href="/photos.html">Photos</a>
        <a class="nav_link" href="/works.html">Works</a>
      </nav>
      </br>
      <div class="content_box">
        {{ content }}
      </div>   
    </div>
  </body>
</html>